.pagination {
  @extend .flex-center;
  gap: 20px;
  user-select: none;
}

.item, .break {
  @include transition((background-color, scale), .3s, linear);
  @include circle(40px);
  @extend .flex-center;

  background-color: var(--pagination-bg);

  &:hover:not(.active) {
    background-color: var(--pagination-hover);
    scale: 1.1;
    cursor: pointer;
  }
}

.prev, .next {
  @include transition((opacity, background-color), .3s, linear);
  @include circle(40px);
  @extend .flex-center;

  margin: 0 30px;
  opacity: 100%;

  cursor: pointer;

  &:hover {
    background-color: rgb(#333, 60%);
  }
}

.active {
  scale: 1.2;
  background-color: var(--pagination-active);
}

.disabled {
  opacity: 30%;
  pointer-events: none;
}
