.home {
}

.categories {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 35px;
}

.section {
  display: grid;
  grid-template-rows: 1fr min-content;
  min-height: 650px;
}

.section:has(.notFound) {
  grid-template-rows: 1fr;
  min-height: auto;
}

.loader {
  margin-top: 120px;
  justify-content: center;
}

.notFound {
  margin-top: 100px;
  justify-self: center;
  max-width: 800px;

  line-height: 3;
  text-align: center;

  img {
    bottom: 80px;
    right: 80px;
    position: absolute;
  }

  h1 {
    margin-bottom: 10px;
  }

  p {
    font-size: 18px;
    margin-bottom: 50px;
  }

  button {
    margin: 0 auto;
  }
}
