.counter {
  aspect-ratio: 1 / 1;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  min-width: 20px;
  border-radius: 50%;

  font-size: 13px;
  font-weight: 700;
  color: var(--white);

  background-color: var(--color-primary);

  transition: .3s linear color, .3s linear background-color;
}