@forward 'vars';
@forward 'base';

.app {
  max-width: 1340px;
  margin: auto;
  border-radius: 10px;
  padding: 50px 70px 100px;
  box-shadow: 0 15px 20px 0 rgb(0, 0, 0, 0.03);
  background: var(--app-bg-inner);
}