:root {
  color-scheme: dark;

  --white: #fff;
  --black: #000;

  --color-primary: #dc2f02;
  --color-primary-hover: #9d0208;
  --color-font: #f1f1f1;
  --color-gray: #a3a3a3;

  --color-bg: #262626;

  --color-separator: #262626;

  --category-bg: #262626;
  --category-active-bg: var(--color-primary);
  --category-bg-hover: #333;

  --pagination-bg: #262626;
  --pagination-active: var(--color-primary);
  --pagination-hover: #333;

  --sort-bg: #000;

  --search-bg: #000;

  --controls-bg: #262626;
  --controls-active: #000;

  --app-bg-outer: linear-gradient(to bottom right, #fed7aa, #dc2f02);
  --app-bg-inner: #121212;
}
