:root {
  --white: #fff;
  --black: #000;

  --color-primary: #dc2f02;
  --color-base: #171717;
  --color-gray: #a3a3a3;

  --page-separator: #f7f7f7;

  --category-bg: #f9f9f9;
  --category-active-bg: #282828;

  --app-bg-outer: linear-gradient(to bottom right, #fed7aa, #dc2f02);
  --app-bg-inner: var(--white);
}
