@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 45px;
  font-family: 'Nunito', sans-serif;
  color: var(--primary-color);
  background-color: var(--body-background);
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}
