:root {
  --primary-color: #333;
  --accent-color: #7b7b7b;
  --brand-color: #fe5f1e;
  --white-color: #fff;

  --app-background: var(--white-color);
  --categories-background: #f9f9f9;
  --categories-active: var(--primary-color);
  --body-background: #ffdf8c;
}
