.pizzaCard {
  display: grid;
  width: 280px;
  grid-template-rows: subgrid;
  gap: 0;
  grid-row: span 4;

  img {
    display: block;
    width: 260px;
    height: 260px;
    margin: 0 auto 10px;
  }

  h2 {
    margin-bottom: 20px;
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    word-break: break-word;
  }
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 7px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: var(--color-bg);

  li {
    display: flex;
  }

  button {
    @include transition((background-color, box-shadow), 0.2s, linear);

    padding: 10px 20px;
    flex: 1;
    border-radius: 5px;

    font-size: 14px;
    font-weight: 700;

    &:not(.active):hover {
      background: rgb(0, 0, 0, 30%);
    }
  }
}

.active {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  background: var(--controls-active);
  pointer-events: none;
}

.addTo {
  @extend .flex-center-between;
}

.price {
  font-size: 22px;
  font-weight: 700;
}
