.header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  padding-bottom: 40px;
  gap: 80px;
  border-bottom: 1px solid var(--color-separator);
}

.logo {
  display: inline-flex;
  gap: 20px;
}

.title {
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
}

.slogan {
  color: var(--color-gray);
}

.cartBtn {
  @extend .flex-center;

  position: relative;
  gap: 15px;
  min-width: 150px;
  margin-left: auto;
  padding: 15px 25px;
  border-radius: 30px;

  font-size: 1rem;
  font-weight: 700;
  color: var(--white);

  background: var(--color-primary);

  z-index: 1;

  &::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    display: block;
    height: 100%;
    width: 100%;
    border-radius: 30px;

    background: linear-gradient(to right bottom, var(--color-primary), var(--color-primary-hover));

    opacity: 0;
    transition: all .3s ease;
    z-index: -1;
  }

  &:hover::before {
    opacity: 1;
  }
}

.cartSeparator {
  width: 1px;
  height: 25px;
  background-color: #fff;
  opacity: 30%;
}

.cartQuantity {
  display: flex;
  gap: 7px;
}