$rad: 30px;
$dur: 0.2s;
$height: 50px;
$btn-width: 60px;
$bez: linear;

.search {
  @include transition(border-color, $dur, $bez);

  position: relative;

  width: 25rem;
  border-radius: $rad;

  &:has(input:not(:placeholder-shown)) {
    .btn {
      visibility: visible;
    }

    .clear {
      visibility: visible;
      opacity: 1;
    }
  }
}

.input,
.btn {
  height: $height;
  border: 0;
  font-size: 18px;
}

.input {
  @include transition((width, border-radius, border-color), $dur, $bez);

  position: relative;
  z-index: 1;

  width: 100%;
  padding: 0 2.5rem 0 1.5rem;
  border: 2px solid var(--color-separator);
  border-radius: $rad;

  background-color: var(--search-bg);

  color: var(--color-font);

  outline: 0;

  &:focus {
    border-color: var(--color-primary);
  }

  &:not(:placeholder-shown) {
    width: calc(100% - $btn-width);
    border-color: var(--color-primary);

    border-radius: $rad 0 0 $rad;
  }
}

.clear {
  @include cross(20px, #fff, 3px);
  @include transition((visibility, opacity), 0.2s, ease);

  padding: 5px;

  visibility: hidden;
  opacity: 0;
}

.btn {
  @extend .flex-center;
  @include transition((background-color, visibility), 0.3s, ease);

  position: absolute;
  top: 0;
  right: 0;

  width: $btn-width;
  border-radius: 0 $rad $rad 0;

  background-color: var(--color-primary);

  visibility: hidden;

  &:hover {
    background-color: var(--color-primary-hover);
  }

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
  }

  &::after {
    background: #f1f1f1;
    border-radius: 0 0.25em 0.25em 0;
    top: 50%;
    left: 50%;
    width: 0.6em;
    height: 0.25em;
    transform: translate(0, 0.12em) rotate(45deg);
    transform-origin: 0 50%;
  }

  &::before {
    border-radius: 50%;
    box-shadow: 0 0 0 0.2em #f1f1f1 inset;
    top: 0.65em;
    left: 0.65em;
    width: 1.2em;
    height: 1.2em;
  }
}
