.sort {
  position: relative;
  display: flex;
  align-items: center;

  label {
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 10px;

    font-size: 14px;
    font-weight: 700;

    cursor: pointer;
    user-select: none;

    span {
      color: var(--color-primary);
      text-decoration: underline dotted;
      text-underline-offset: 5px;
    }
  }

  &:has(:checked) {
    .wrapper {
      visibility: visible;
      grid-template-rows: 1fr;
    }

    .arrow {
      rotate: 180deg;
    }
  }
}

.checkbox {
  display: none;
}

.wrapper {
  @include transition((grid-template-rows, visibility), 0.3s, ease);

  position: absolute;
  top: 115%;
  right: 0;

  display: grid;
  grid-template-rows: 0fr;
  padding: 5px 0;
  border: 1px solid var(--color-separator);

  visibility: hidden;

  border-radius: 10px;
  z-index: 1;

  background: rgb(0, 0, 0, 0.7);
  backdrop-filter: blur(20px);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.09);
}

.menu {
  overflow: hidden;
}

.button {
  @include transition((color, background-color, font-weight), 0.1s, ease);

  font-size: 14px;
  text-align: left;
  width: 100%;
  padding: 10px 15px;

  &::after {
    display: block;
    content: attr(title);
    font-weight: 700;
    height: 1px;
    color: transparent;
    overflow: hidden;
    visibility: hidden;
  }

  &:not(.active):hover {
    // color: var(--color-primary);
    background-color: rgb(#940e01, 40%);
  }
}

.active {
  font-weight: 700;
  // color: var(--color-primary);
  background-color: rgb(#940e01, 60%);
}
